---
import Badge from "../components/badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to My Portfolio">
  <main>
    <section class="w-[740px]"></section>
    <h1 class="text-white">
      Hey, soy Madelaine <Badge>Disponible para Trabajar</Badge>
    </h1>
    <h2>
      1 año de experiencia. Desarrolladora de Software. De Ciudad de Panama
    </h2>
  </main>
</Layout>
